body {
    background-color: #d2d2d2;
    margin: 0
}
body>nav {
    grid-row: nav;
}
nav {
    display: block;
    unicode-bidi: isolate;
}
.menu {
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
}
.menu-top{
    grid-row-gap: 0;
    grid-template-rows: 30px 1fr;
}
.menu-top {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}
.menu-top{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr repeat(12, [col] 122px) 1fr;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.menu-top{
    background: #fff;
    color: #df0909;
    height: 109px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: fixed;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    width: 100vw;
    z-index: 2000;
}