.outer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.144); 
    max-height: 1000px;
    padding: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
